@import url("https://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500;600;700;900");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #111222;
}

/*=============== Preloader ===============*/

#video-container {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 9999;
}

#my-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*=============== Navbar ===============*/


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: translucent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: 0.2s;
    /* transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s; */
}

.navbar a:hover::before{
    width: 100%;
    /* transform: scaleX(1);
    transform-origin: left; */
}

/*=============== Hero ===============*/


section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    color: #fff;
}

.container {
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title {
    font-size: 4em;
    margin-bottom: 50px;
}

.content {
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .image {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.content .image img {
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.content .text-box {
    z-index: 222;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transform: translate(-80px, 50px);
}

.content .text-box h3 {
    font-size: 2em;
    margin-bottom: 10px;
}

.media-icons {
    margin-top: 100px;
}

.media-icons a {
    color: #fff;
    font-size: 2em;
    margin: 60px;
}

.section-title {
    text-align: center;
    font-size: 3em;
    margin-bottom: 80px;
}

/*=============== Socials ===============*/

.info-title {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.info {
    width: 700px;
    margin-left: 50px;
}

.media-info {
    width: 400px;
    margin-left: 50px;
}

.media-info li {
    list-style: none;
    font-size: 1.4em;
}

.media-info li a {
    color: #fff;
    text-decoration: none;
}

.media-info li:not(:last-child) {
    margin-bottom: 50px;
}

.media-info li:nth-child(1),
.media-info li:nth-child(5) {
    padding-left: 100px;
}

.media-info li:nth-child(2),
.media-info li:nth-child(4) {
    padding-left: 50px;
}

.container iframe {
    position: relative;
    width: 100vh;
    height: 500px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}


/* Swiper CSs */

.swiper {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.swiper-slide {
    display: flex !important;
}

.swiper-container {
    display: flex;
    justify-content: center;
}

.swiper-wrapper {
    width: 100%;
    height: 35rem;
    display: flex;
    align-items: center;
}

.card {
    max-width: 300px;
    background-color: #fff;
    border-radius: 2em;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
    padding: 2em 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 2em;
}

/* 
.swiper-slider:not(.swiper-slide-active) {
    filter: blur(1px);
} */

.card_image {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 5px solid #9176ff;
    padding: 3px;
    margin-bottom: 2em;
}

.card_image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card_content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card_title {
    color: #111222;
    font-size: 1.5em;
    font-weight: 500;
    position: relative;
    top: .2em;
}

.card_name {
    color: #9176ff;
}

.card_text {
    text-align: center;
    margin-top: 1.1em;
    margin: 1em 0;
}

.card_btn {
    background-color: #9176ff;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: .5em;
    border-radius: .5em;
    margin-top: .5em;
    cursor: pointer;
}

/* --------------iframe------------- */

.container iframe {
    position: relative;
    width: 100vh;
    height: 500px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}



/* --------------Counter-up------------- */

.running-number {
    padding: 50px;
}

.counter-up,
.counter-up2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contented {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box {
    /* Adjust the width of the box here */
    flex: calc(32% - 30px);
    /* Decreased width and added margin to create space between boxes */
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.icon {
    font-size: 48px;
    color: #555555;
}

.counter {
    font-size: 40px;
    font-weight: 500;
    color: #333333;
    margin: 10px 0;
}

.text {
    font-size: 18px;
    color: #777777;
}

/*=============== LAYOUT ===============*/
.grid {
    display: grid;
}


/*===== Qualification Section =====*/
.qualification__container {
    grid-template-columns: repeat(2, 340px);
    column-gap: 7rem;
    justify-content: center;
}

.qualification__title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.timeline__item {
    position: relative;
    padding-left: 3rem;
    margin-bottom: 2.5rem;
}

.timeline__item:last-child {
    margin-bottom: 0;
}

.timeline__item::before {
    content: '';
    width: 1px;
    position: absolute;
    left: .48rem;
    top: 0;
    height: 100%;
    background-color: hsl(342, 92%, 46%);
}

.circle__dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 1rem;
    width: 1rem;
    border: 2px solid hsl(342, 92%, 46%);
    border-radius: 50%;
    background-color: hsl(342, 92%, 46%);
    transition: .3s;
}

.timeline__item:hover .circle__dot {
    background-color: hsl(var(--hue-color), 19%, 5%);
}

.timeline__title {
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 0.25rem;
}

.tomeline__text {
    font-size: .813rem;
    margin-bottom: 1rem;
}

.timeline__date {
    display: flex;
    align-items: center;
    column-gap: .4rem;
    font-size: .875rem;
    color: hsl(342, 92%, 46%);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: .60rem;
    background-color: hsl(var(--hue-color), 12%, 38%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(var(--hue-color), 12%, 26%);
    border-radius: .5rem;
}



@media screen and (max-width: 1036px) {
    .counter-up {
        padding: 50px 50px 0 50px;
    }

    .counter-up .contented .box {
        width: calc(50% - 30px);
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 580px) {
    .counter-up .contented .box {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        padding: 20px;
    }

    .counter-up {
        padding: 30px 20px 0 20px;
    }
}